{% extends 'base.html.twig' %}

{% block title %}Names{% endblock %}

{% block body %}
    <h1 class="my-4">Names</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Longitude</th>
                <th class="text-center">Latitude</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <td>New Name</td>
                <td class="text-end">-</td>
                <td class="text-end">-</td>
                <td class="text-end">
                    <a href="{{ path('app_name_create') }}" class="btn btn-sm btn-outline-dark">Create</a>
                </td>
            </tr>
            {% for name in names %}
            <tr class="align-middle">
                <td>{{ name.name }}</td>
                <td class="text-end">{{ name.longitude }}</td>
                <td class="text-end">{{ name.latitude }}</td>
                <td class="text-end">
                    <a href="{{ path('app_name_edit', {'id': name.id}) }}" class="btn btn-sm btn-outline-dark">Edit</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
