{% extends 'base.html.twig' %}

{% block title %}Edit {{ map.name }}{% endblock %}

{% block body %}
    <h1 class="my-4">Edit {{ map.name }}</h1>
    <div class="border p-3 bg-light">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            
            <button type="submit" class="btn btn-success" formnovalidate>Save</button>
            <a class="btn btn-secondary" href="{{ path('app_map_index') }}">Cancel</a>
            <a class="btn btn-danger" href="{{ path('app_map_delete', {'id': map.id}) }}">Delete</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
